@media screen and (width<=1400px) {
  .adminContainer {
    overflow: auto;
  }

  .dashboard {
    .widgetContainer,
    .graphContainer,
    .transactionContainer {
      justify-content: center;
      padding: 3rem;
      flex-wrap: wrap;

      .dashboardCategories {
        max-width: none;
        width: 100vw;
        .categoryItem {
          > h5 {
            margin-left: 250px;
          }
          > div {
            margin-right: 200px;
          }
        }
      }
    }

    .transactionContainer {
      .genderChart {
        max-width: none;
        width: 50%;
        margin-bottom: 5rem;
      }

      .TransactionBox {
        margin-bottom: 20rem;
        background-color: #414141;
      }
    }
  }

  .ProductManage {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: space-evenly;
    > section {
      max-width: none;
      padding: 2rem;
      width: max-content;
      right: 70px;
      width: 1100px;
      display: flex;
      flex-direction: row;

      > span {
        position: relative;
        height: max-content;
        top: 30%;
        padding: 5px;
        color: white;

        background-color: teal;
        border-radius: 10px;
        right: inherit;
      }
      > p {
        padding: 5px;
        color: white;
        background-color: teal;
        border-radius: 10px;
        height: max-content;
      }
      > img {
        @include square(50rem);
        max-width: 600px;
        max-height: max-content;
      }
      > h3 {
        top: 100px;
      }
    }
    > article {
      margin-right: 5rem;
      right: 70px;
      max-width: none;
      width: 1150px;
      > form {
        width: 100%;
        > h2 {
          font-size: xx-large;
        }
        > button {
          width: 60%;
        }
      }
    }
  }
}


@media screen and (width<=1200px) {
  
  svg{
    font-size: 2rem;
  }
.searchIcon{
  margin-left: 100px;
  font-size :2rem;

}
.searchText{
  font-size: 20px !important;
  margin-left: 100px;
}

  .AdminContainer {
    overflow: auto;
    .chartContainer{
      width: 100vw;
    }

    >aside{
      overflow-y: scroll;
      ::-webkit-scrollbar{
        display: hidden;
      }
    }
  }

  .dashboard {
    width: 100vw;

    .widgetContainer,
    .graphContainer,
    .transactionContainer {
      justify-content: center;
      flex-wrap: wrap;

      .widgetContainer {
        .widget {
          width: 20rem;
          height: 10rem;
        }
      }
      .TransactionBox{
        margin-left: 20px;
        padding-bottom: 50px;
      }

      .dashboardCategories {
        max-width: none;
        width: 100vw;
        .categoryItem {
          > h5 {
            margin-left: 250px;
          }
          > div {
            margin-right: 200px;
          }
        }

        .categoryItem{
          h5{
            margin-right: 20px;
          }
        }
      }
    }
  }
  .ProductManage {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    > section {
      max-width: none;
      padding: 2rem;
      width: max-content;
      right: 70px;
      width: 1100px;
      display: flex;
      flex-direction: row;
      > strong {
        font-size: larger;
      }
      > span {
        position: relative;
        height: max-content;
        top: 30%;
        padding: 5px;
        color: white;
        font-size: x-large;
        background-color: teal;
        border-radius: 10px;
      }
      > p {
        padding: 5px;
        color: white;
        background-color: teal;
        border-radius: 10px;
        height: max-content;
        font-size: x-large;
      }
      > img {
        @include square(50rem);
        max-width: 600px;
        max-height: max-content;
      }
      > h3 {
        top: 100px;
      }
    }
    > article {
      > form {
        > button {
          font-size: 1.5rem;
        }
      }
      > div {
        @include flex(row);
        height: 100%;
        > label {
          font-size: x-large;
        }
      }
    }
  }
}

// @media screen and (width<=800px) {
//   .adminContainer {
//     overflow: auto;
//   }

//   .dashboard {
//       .widgetContainer,
//       .graphContainer,
//       .transactionContainer {
//         justify-content: center;
//         flex-wrap: wrap;

//         .widgetContainer {
//           .widget {
//             width: 20rem;
//             height: 10rem;
//           }
//         }

//         .dashboardCategories {
//           max-width: none;
//           width: 100vw;
//           .categoryItem {
//             > h5 {
//               margin-left: 250px;
//             }
//             > div {
//               margin-right: 200px;
//             }
//           }
//         }
//       }
//     }
//   }
//   .ProductManage {
//     display: flex;
//     justify-content: space-evenly;
//     flex-wrap: wrap;
//     > section {
//       max-width: none;
//       padding: 2rem;
//       width: max-content;
//       right: 70px;
//       width: 1100px;
//       display: flex;
//       top:50px;
//       flex-direction: row;
//       > strong {
//         font-size: larger;
//       }
//       > span {
//         position: relative;
//         height: max-content;
//         top: 30%;
//         padding: 5px;
//         color: white;
//         font-size: x-large;
//         background-color: teal;
//         border-radius: 10px;
//       }
//       > p {
//         padding: 5px;
//         color: white;
//         background-color: teal;
//         border-radius: 10px;
//         height: max-content;
//         font-size: x-large;
//       }
//       > img {
//         @include square(50rem);
//         max-width: 600px;
//         max-height: max-content;
//       }
//       > h3 {
//         top: 100px;
//       }
//     }
//     > article {
//       max-height: none;
//       margin-top: 10px;
//       height: 100vh;
//       > form {
//         max-height: none;
//         height: 100vh;
//         > div {
//           @include flex(row);
//           height: 100%;
//           > label {
//             font-size: xx-large;
//           }
//         }
//         > button {
//           font-size: 1.5rem;
//         }
//       }
//     }
// }

@media screen and (width<=500px) {

  .AdminContainer{
    width: 100%;
    overflow-x: hidden;
    .chartContainer > section .orderChart {
      height: auto;
    }
  }
.heading{
  margin:40px 100px;
}


  .dashboard .graphContainer .dashboardCategories .categoryItem {
    display: unset;

  }
  .dashboard .transactionContainer .genderChart {
    height: 70vh;
    width: 70vw;
  }

  .dashboard .transactionContainer  {
    .TransactionBox{
      >h2{
        position: sticky;
        color: teal;
         font-size: 16px;
         font-weight: 700;
      }
    }
    
  }
 
  .dashboard .graphContainer .revenueChart {
    // width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    ::-webkit-scrollbar{
      display: hidden;
    }

    canvas{
      
      width: 100%;
    }
  }

  .gotoBtn{
    width: 200px;
    font-size: xx-large !important;
  }
.madeBy{
  width: 100px !important;
  font-size: medium !important;
}
  .searchText{
    font-size: 17px !important;
    margin-left: 0px;
    margin-top: 5px;
  }
  .ProductManage {

    width:100vw !important;
    position: relative;
   ;
    left:10px !important;
    margin-right: 10px !important;
    display: flex;
    flex-direction: column;
    > section {
      max-height: none;
      height: 1500px;
      @include flex(column);
      > span {
        top: 0px;
        left: 0;
      }
    }
    > article {
      max-height: none;
      right:80%;
      height: 100vh !important;
      width: 90vw !important;
      > form {
        max-height: none;
        label{
          font-size: large !important;
        }
        height: 100vh;
        > div {
          @include flex(row);
          height: 100%;
          > label {
            font-size: 2rem;
          }
        }
        > button {
          font-size: 2rem;
        }
      }
    }
    >section{
      right:80%;
      margin-top: 100px;
      height: 100vh !important;
      width: 90vw !important;
      .orderChart{
        height: 10%;
      }
      > img{
        width: 70vw;

      }
    }
  }
}
